<div class="page">
  <nav class="page__navbar">
    <app-header brandDesktop="{{ imgSrc }}"></app-header>    
  </nav>
  <div class="page__body">
    <aside type="flex" class="page__panel--sidebar" *ngIf="shouldShowPanel('list')">
      <app-list [type]="'flex'" [direction]="'horizontal'"></app-list>      
    </aside>
    <main class="page__panel--main" *ngIf="shouldShowMainPanel()" ngClass="{{currentView === 'list' ? 'center' : ''}}">
      @if (currentView === 'list') {
        <app-label
          [icon]="'notes-medical'"
          [size]="isMobile ? 'sm' : 'md'"
          [prefix]="'Bienvenido'"
          [label]="'Aquí comienza tu historia de salud'"
          subtitle="En experienciaPaciente podrás registrar, compartir y recibir tus datos de salud sin tener que depender de ninguna institución pública o empresa privada."
          [direction]="'column'"
      ></app-label>
      } @else {
        <router-outlet></router-outlet>
      }
    </main>
  </div>
</div>
