@if (qrRegistro) {
    <section class="panel__main--center">
        <div class="form__input-wrapper--row">
            <app-label
            [size]="isMobile ? 'md' : 'lg'"
            [prefix]="'Autoregistro'"
            [label]="'Scan QR'"
            [subtitle]="isMobile ? 'Scanea el QR para obtener su contenido y autocompletar el formulario.' : ''"
            severity="neutral"
            direction="column">
        </app-label>
        @if (!isMobile) {
            <app-badge severity="danger" label="Cámara" size="xs"></app-badge>
            <app-button
                size="xs"
                [severity]="'neutral'"
                [variant]="'link'"
                [icon]="'xmark'"
                [direction]="'none'"
                [type]="'button'"
                [path]="'/'"
                (clickEvent)="cancel()"
            ></app-button>
        }
        </div>
        @if (noPermissions) {
            @if (isMobile) {
                <app-badge severity="danger" label="Cámara no habilitada" size="xs"></app-badge>
            }
            <span class="qr__wrapper">
                <div class="qr__overlay"></div>
                <div class="qr__line"></div>
            </span>
        }
        @if (!noPermissions) {
            <span class="qr__wrapper">
                <zxing-scanner [torch]="torchEnabled" [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)"
                            [formats]="formatsEnabled" [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)"
                            (camerasFound)="onCamerasFound($event)" (torchCompatible)="onTorchCompatible($event)">
                </zxing-scanner>
                <div class="qr__overlay"></div>
                <div class="qr__line"></div>
            </span>
            @if (qrResultString) {
                <app-badge severity="success" label="Scaneo exitoso" size="xs"></app-badge>
            } @else {
                <app-badge severity="warning" label="No se pudo leer el código" size="xs"></app-badge>
            }
        }
        @if (isMobile) {
            <app-label
                size="sm"
                [label]="'Enfoca'"
                subtitle="Si el código no es detectado, vuelve a intentarlo."
                [icon]="'info-circle'"
                severity="warning"
                variant="link"
                direction="column">
            </app-label>
        }
        <!-- Crear componente Footer -->
             <footer class="panel__footer">
                 <app-button
                     size="xxs"
                     severity="danger"
                     [variant]="'outline'"
                     [direction]="'row'"
                     [icon]="'close'"
                     [path]="'/'"
                     [label]="'Cancelar'"
                     ></app-button>
                     <app-button
                     size="xxs"
                     severity="primary"
                     [variant]="'fill'"
                     [direction]="'row'"
                     [icon]="'pencil'"
                     [path]="'/registrar'"
                     [label]="'Registro manual'"
                 ></app-button>
             </footer>
    </section>
}