ul {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    &.list__wrapper--flex {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

    }

    &.list__wrapper--center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1vw;
    }

    &.list__wrapper--grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }

    li {
        display: flex;
        row-gap: var(--list__item--gap);
        column-gap: var(--list__item--gap);
        padding: var(--list__item--padding);
        width: 100%;
        box-sizing: border-box;
        height: fit-content;
        min-height: 120px;
        border-radius: var(--card__border--radius);
        border-bottom: solid 1px var(--primaryLight);
    }

    &.list__item--row {
        flex-direction: row;
    }

    &.list__item--vertical {
        flex-direction: column;
    }

}