<section class="sidebar__header">
    <app-label
        size="md"
        [label]="'Estos son tus registros'"
        [prefix]="'Hola usuario'"
        direction="row">
    </app-label>
    <section class="input__group">
        <span class="input__wrapper">
          <label for="titulo">Buscador</label>
          <input type="text" placeholder="Busca por título del registro" class="input__size--sm"
          [formControl]="searchControl">
        </span>
        <app-button type="button" [direction]="'none'" [icon]="medCategories ? 'chevron-up' : 'chevron-down'" size="xs" [variant]="'outline'" severity="primary" direction="none" (clickEvent)="showMedCategories($event)"></app-button>
        <app-dropdown
        [items]="getRegistroOptions()"
        [position]="splitButtonPosition"
        buttonSize="xs"
        buttonDirection="none"
        buttonVariant="fill"
        buttonSeverity="success"
        buttonIcon="plus"
        ></app-dropdown>
    </section>
    <!-- Considerar hacer un componente carousel -->
     @if (medCategories) {
         <app-navbar [items]="categoriaItems" (categorySelected)="onCategorySelected($event)"></app-navbar>
     }
    <hr>
</section>
<ng-container *ngIf="registros$ | async as records">
    <ul class="list__wrapper--center" *ngIf="!records.length">
        <app-label
            [size]="isMobile ? 'xs' : 'sm'"
            [prefix]="'Tus registros'"
            [label]="'Aún no tienes ningún registro'"
            subtitle="Aquí se listarán los datos de salud que registres manualmente o a través del QR facilitado por quién haya gestionado tu registro de salud."
            [direction]="'column'"
        ></app-label>
    </ul>
    <ul class="list__wrapper--{{ type }}">
        <!-- Resolver bubbling -->
        <li *ngFor="let data of (filteredRegistros$ | async); trackBy: trackByFn" (click)="onItemSelected(data)">
            <app-card direction="row" [selectable]="true" [selected]="selectedItemId === data.id" [variant]="'fill'" severity="custom" [color]="getColorForCategoria(data.categoria)" (cardSelected)="onCardSelected(data)">
                    <app-label
                    [size]="'xs'"
                    [label]="data.titulo"
                    [prefix]="data.categoria"
                    [subtitle]="isMobile ? '' : data.descripcion"
                    [icon]="getIconForCategoria(data.categoria)"
                    [severity]="'custom'"
                    [color]="getColorForCategoria(data.categoria)"
                    direction="row">
                    <app-badge [severity]="data.validado ? 'success' : 'info'" [label]="data.validado ? 'Validado' : 'Auto-registro'" size="xs"></app-badge>
                    @if (data.lugar) {
                        <app-badge severity="info" [label]="data.lugar" size="xs" icon="hospital"></app-badge>
                    }
                    <app-button variant="icon" icon="trash-can" size="xs" severity="neutral" (click)="openModal($event, data)"></app-button>
                    <app-dropdown
                        [items]="getMenuItems(data)"
                        [position]="dropdownPosition"
                        buttonLabel=""
                        buttonIcon="ellipsis-vertical"
                    ></app-dropdown>
                </app-label>
            </app-card>
            @if (isModalOpen) {
                <app-modal
                    [prefix]="'Eliminar registro'"
                    [title]="'¿Desea eliminar' + ' ' + data.titulo + '?'"
                    [subtitle]="'Esta acción es irreversible, si elimina el registro no podrá recuperar su contenido.'"
                    [size]="isMobile ? 'sm' : 'md'"
                    icon="trash-can"
                    (closeModal)="isModalOpen = false"
                >
                    <app-button direction="none" size="sm" label="Cancel" variant="outline" severity="danger" (click)="isModalOpen = false"></app-button>
                    <app-button direction="none" size="sm" label="Confirm" variant="fill" severity="success" (click)="onConfirm(data)"></app-button>
                </app-modal>
                }
        </li>
    </ul>
</ng-container>

