@if (registro != null) {
<section class="panel__main">
    <header class="panel__header--row">
        <app-label
            [size]="isMobile ? 'md' : 'lg'"
            [label]="registro.titulo"
            [prefix]="registro.categoria"
            [icon]="getIconForCategoria(registro.categoria)"
            [severity]="'custom'"
            [color]="getColorForCategoria(registro.categoria)"
            direction="row">
            <app-badge severity="success" label="{{ registro.validado }}" size="xs"></app-badge>
            <app-dropdown
                [items]="getMenuItems(registro)"
                [position]="dropdownPosition"
                buttonLabel=""
                buttonIcon="ellipsis-vertical"
            ></app-dropdown>        
    </app-label>
    </header>
    <div class="panel__inner--main">
        <article class="panel__text--article">
            {{ registro.descripcion }}
            {{ registro.paciente }}
        </article>
        @if (registro.adjuntos.length > 0) {
            <app-label
                prefix="Adjuntos"
                label="Mis archivos"
                [size]="isMobile ? 'sm' : 'md'"
                direction="row"
            >
        </app-label>
        <hr>
        <section role="navigation" class="img__wrapper--grid">
            @for (file of registro.adjuntos; track trackByFn) {
                <figure>
                    <img [src]="file" alt="Uploaded Image">
                    <figcaption>{{ file }}</figcaption>
                  </figure>
            }
        </section>
        }
    </div>
    @if (isMobile) {
        <hr>
    }
    <div class="panel__inner--aside">
        <article class="panel__inner--left">
            <figure class="panel__qr--wrapper">
                <!-- Integración QR con portal-profesional -->
                 @if (qrCodeUrl) {
                     <img class="panel__qr--aside" [src]="qrCodeUrl" alt="QR Code" alt="">
                 }
                <app-label
                    [size]="'sm'"
                    [prefix]="'Para escanear el código, accede a tu cuenta experienciaPaciente.org.'"
                    [direction]="'row'"
                    [severity]="'neutral'"
                    [icon]="isMobile ? '' : 'info-circle'"
                >
                </app-label>
            </figure>
            <app-label
                size="md"
                [label]="registro.fecha"
                [prefix]="'Fecha del registro'"
                [direction]="'row'"
                >
            </app-label>
            @if (registro.lugar) {
                <app-label
                size="md"
                [label]="registro.lugar"
                [prefix]="'Establecimiento de Salud'"
                [direction]="'row'"
                >
            </app-label>
            }
            <app-switcher
                [on]="registro.validado"
                size="lg"
                onLabel="Validado"
                offLabel="No validado"
                colorOn="green"
                colorOff="red"
                labelPosition="right"
                [disabled]="true"
            ></app-switcher>
            @if (registro.validador) {
                <app-label
                    size="md"
                    [label]="registro.validador"
                    [prefix]="'Miembro equipo de Salud'"
                    [direction]="'row'"
                    >
                </app-label>
            }
        </article>
    </div>
    <!-- Desacoplar footer en componente -->
    <footer class="panel__footer">
        <div class="panel__footer--left">
            <app-button
            size="xs"
            [severity]="'primary'"
            [variant]="'link'"
            [icon]="'arrow-left'"
            [direction]="'row'"
            [label]="'volver'"
            [disabled]="false"
            (clickEvent)="goBack()"
            ></app-button>
        </div>
        <div class="panel__footer--right">
            <app-button
            size="xs"
            [severity]="'warning'"
            [variant]="'fill'"
            [icon]="'pencil'"
            [direction]="'row'"
            [label]="'Editar'"
            [path]="'actualizar/' + id"
            [disabled]="false"
            ></app-button>
        </div>
    </footer>

</section>
} @else {
    <p>Sin registros!</p>
}
