 <form [formGroup]="form" class="panel__main" (ngSubmit)="createRegistro()">
   <header class="panel__header--row">
       <app-label
       size="lg"
       [label]="registroId ? setTitle() : 'Nuevo registro de Salud'"
       [prefix]="'Autoregistro'"
       subtitle="Completa los campos requeridos (*)"
       [severity]="'info'"
       direction="row"
     ></app-label>
     <!-- Integrar con validators -->
      @if (form.invalid) {
        <app-badge severity="warning" label="Campos requeridos sin completar" size="md"></app-badge>
      } @else if (!form.invalid) {
        <app-badge severity="success" label="Campos requeridos completos" size="md"></app-badge>
      }
   </header>
  <section class="panel__inner--main">
    <div class="form__input-wrapper--col">
      <app-required [label]="'Título'" [control]="'titulo'"></app-required>
      <input type="text" formControlName="titulo" (keyup)="onTitleChange()">
      <small class="required" *ngIf="form.controls['titulo']?.invalid && form.controls['titulo']?.touched">
        Título es obligatorio
      </small>
    </div>

    @if (!qrResultString) {
    <div class="form__input-wrapper--col">
      <app-required [label]="'Descripción'" [control]="'descripcion'"></app-required>
        <textarea
          rows="5"
          type="text"
          id="descripcion"
          [class]="qrRegister ? 'disabled' : ''"
          placeholder="Describa su registro de Salud"
          formControlName="descripcion"
        ></textarea>
      </div>
    }

    @if (qrResultString) {
      <div class="form__input-wrapper--col">
        <app-required [label]="'Registro obtenido del QR'" [control]="'paciente'"></app-required>
        <textarea 
          id="paciente"
          formControlName="paciente">
          {{ qrResultString }}
        </textarea>
        <button (click)="clearResult()">&times;</button>
      </div>
      }

      <div class="form__input-wrapper--col">
        <app-required [label]="'Categoría'" [control]="'categoria'"></app-required>
          <select class="form__select--custom" id="categoria" formControlName="categoria" (change)="onCategoryChange()">
          <option value="" disabled selected>Seleccionar categoría</option>
          @for (categoria of categorias; track categoria) {
            <option [value]="categoria">
              {{ categoria }}
            </option>
          }
        </select>
        <small class="required" *ngIf="form.controls['categoria']?.invalid && form.controls['categoria']?.touched">
          La categoría es obligatoria
        </small>
      </div>
        <div class="form__input-wrapper--col">
          <label for="adjuntos">Adjuntar archivos</label>
          <input 
            type="file" 
            id="adjuntos" 
            formControlName="adjuntos" 
            (change)="uploadFiles($event)" 
            multiple>
        </div>
        <div>
      @if (uploadedImages.length > 0) {
        <app-label
        prefix="Adjuntos"
        label="Mis archivos"
        [size]="'sm'"
        direction="row"
          >
      </app-label>
      <hr>
      }
        <div class="img__wrapper--grid">
          <figure *ngFor="let fileName of uploadedFileNames; let i = index">
            <img [src]="fileName" alt="Uploaded Image" />
            <figcaption>{{ fileName }}</figcaption>
            <app-button
            size="xxs"
            [severity]="'danger'"
            [variant]="'outline'"
            [icon]="'trash-can'"
            [direction]="'none'"
            [label]="''"
            [type]="'button'"
            (clickEvent)="removeFile(i)"
          ></app-button>
          </figure>
        </div>
      </div>     
    </section>
    
    <section class="panel__inner--aside">
        @if (qrRegister) {
          <app-scan></app-scan>
        }
        <div class="form__input-wrapper--col">
          <app-required [label]="'Fecha'" [control]="'fecha'"></app-required>
          <input type="date" formControlName="fecha">
          <small class="required" *ngIf="form.controls['fecha']?.invalid && form.controls['fecha']?.touched">
            Debe seleccionar una fecha
          </small>
        </div>
        <div class="form__input-wrapper--col">
          <app-required [label]="'Hora'" [control]="'hora'"></app-required>
          <input type="time" formControlName="hora">
          <small class="required" *ngIf="form.controls['hora']?.invalid && form.controls['hora']?.touched">
            Debe seleccionar un horario
          </small>
        </div>
        <div class="form__input-wrapper--col">
          <app-required [label]="'Establecimiento'" [control]="'lugar'"></app-required>
          <input type="text" formControlName="lugar">
        </div>
          <app-switcher
              [on]="validado"
              size="md"
              [onLabel]="'Validado por equipo de Salud'"
              offLabel="No validado por equipo de Salud"
              labelPosition="right"
              (toggle)="validateRecord()"
          ></app-switcher>
          @if (validado) {
            <div class="form__input-wrapper--col">
              <app-required [label]="'Miembro equipo de Salud'" [control]="'validador'"></app-required>
              <input type="text" formControlName="validador">
            </div>
          }
        </section>

       <!-- Desacoplar footer en componente -->
    <footer class="panel__footer">
      <div class="panel__footer--left">
        <app-button
          size="xs"
          [severity]="'danger'"
          [variant]="'outline'"
          [icon]="'xmark'"
          [direction]="'row'"
          [label]="'Cancelar'"
          [type]="'button'"
          (clickEvent)="cancel()"
        ></app-button>
        @if (!registroId) {
        <app-button
          size="xs"
          [severity]="'warning'"
          [variant]="'outline'"
          [icon]="'arrows-rotate'"
          [direction]="'row'"
          [label]="'Reset'"
          [type]="'reset'"
        ></app-button>
        }
      </div>
      <div class="panel__footer--right">
        @if (!registroId) {
          <app-button
          [type]="'button'"
          size="xs"
          [severity]="'primary'"
          [variant]="'link'"
          [icon]="'mobile-screen-button'"
          [direction]="'row'"
          [label]="'Registro QR'"
          (clickEvent)="showQrRegister()"
          ></app-button>
        }
        <app-button
        [severity]="'success'"
        type="submit"
        [variant]="'fill'"
        [label]="'registroId' ? 'Guardar cambios' : 'Registrar'"
        [direction]="'row'"
        [icon]="'registroId' ? 'floppy-disk' : 'file-lines'"
        [disabled]="form.invalid"
        size="xs"
        [path]="'item/' + registroId"
      >
      </app-button>
      </div>
  </footer>
</form>
